/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    color: #000;
    letter-spacing: 0.05rem;
    text-decoration: none;
}

.cta-button {
    padding: 15px 20px;
    background-color: blue;
    border-radius: 100px;
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Layout Styles */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
/* Navigation Styles */
nav {
    background-color: transparent; /* Initial transparent background */
    transition: background-color 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
}

nav.scrolled {
    background-color: #fff; /* White background when scrolled */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-links a, .nav-links button {
    margin-left: 1rem;
}

/* Hamburger Menu Button */
.hamburger {
    display: none; /* Hidden by default, shown in mobile view */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 3px;
    transition: all 0.3s linear;
}

/* Transform hamburger into X */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    background-color: #ECE6DE;
    justify-content: space-between;
    padding: 5rem 2rem;
}

.text-content {
    max-width: 50%;
}

.hero-image {
    max-width: 40%;
    height: auto;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/* Logos Section Styles */
.logos-section h2, .feature-section h2 {
    text-align: center;
    padding: 2rem;
}

.logos-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logos-row img {
    margin: 0 20px; /* Adjust the margin as needed */
    max-width: 100px; /* Adjust based on your preference or size of the logos */
    height: auto;
}




/***********************************************************************************************************/

/* Responsive Design */
@media (max-width: 768px) {
    .nav-container, .hero, .text-content, .hero-image {
        flex-direction: column;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}